* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
  --gray-color: #71767b;
  --blue-color: rgb(33, 157, 240);
}
.white-text {
  color: white;
}
.gray-text {
  color: var(--gray-color);
}
.text-info {
  color: var(--blue-color);
}
.App {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}
.homePage {
  display: grid;
  grid-template-columns: 25% 45% 1fr;
  height: 100%;
}
.sideBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1.5rem;
}
@media screen and (max-width: 1000px) {
  .homePage {
    grid-template-columns: 100%;
  }
  .sideBar {
    display: none;
  }
}
.menuBox {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  font-size: 27px;
  margin-left: 1.2rem;
  height: 70px;
}
.twitterLogo {
  height: 85px;
  width: 120px;
  margin-top: 0.2rem;
  margin-left: -15px;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1.5rem 5.5rem;
  border-radius: 40px;
  background: var(--blue-color);
  color: white;
  margin-left: 1.2rem;
  font-size: 20px;
  text-align: center;
}
/* MiddlePart */
.middlePart {
  border-left: 1px solid var(--gray-color);
  border-right: 1px solid var(--gray-color);
  height: 100%;
}
/*Header*/
.arrow {
font-size: 27px;
}
.headerContent {
  display: flex;
  align-items: center;
  gap: 2.7rem;
  margin-left: 1rem;
  margin-bottom: 5px;
  margin-top: 10px;
}
.headerName {
  font-size: 1.6rem;
  margin: 0;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
small {
  color: var(--gray-color);
  font-size: 1.2rem;
}
/*Profile Pictures*/
.coverPicture {
  display: block;
  width: 100%;
}
.profileImg {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 4px solid rgb(0, 0, 0);
  margin-top: -60px;
  margin-left: 20px;
}
.bottomIcon {
  display: flex;
  justify-content: space-between;
}
.icons {
  display: flex;
  align-items: center;
  margin-right: 20px;
  gap: 1rem;
}
.border {
  border: 1px solid var(--gray-color);
  font-size: 35px;
  padding: 5px;
  border-radius: 50%;
}
h4.following {
  margin: 0;
  padding: 9px;
  border-radius: 20px;
  border: 1px solid var(--gray-color);
}
/*Details*/
.details {
  margin:0;
  padding-left: 1.2rem;
}
.nameAndAlias {
  margin-top: 14px;
}
.nameAndAlias h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
}
.nameAndAlias small {
  font-size: 1.2rem;
}
.description {
  font-size: 1.32rem;
  margin: 1rem 0rem;
}
.link {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.3rem;
}
.blueColor {
  color: var(--blue-color);
  margin-right: 0.8rem;
  text-decoration: none;
}
.detailsIcons {
  margin-right: 5px;
  font-size: 1.3rem;
}
.numberFollow {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.footer {
  display: flex;
}
.img1,
.img2 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: block;
}
.img2 {
  margin-left: -11px;
}
.imgBox {
  margin-right: 0.5rem;
  display: flex;
}
/*Posts*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--gray-color);
  padding-bottom: 10px;
  margin-top: 1.9rem;
}
.active {
  border-bottom: 5px solid var(--blue-color);
  padding-bottom: 1px;
}
.reposted {
    display: flex;
    align-items: center;
    color: #71767b;
    gap: 0.5rem;
    margin-left: 3rem;
    margin-top: 4px;
    font-size: 1.3rem;
}
.iconList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  border-bottom: 1px solid var(--gray-color);
  padding-bottom: 0.6rem;
}
.iconItem {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.icon {
  font-size: 1.3rem;
}
.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contentIcon {
  margin-right: 1rem;
}
.content {
  display: flex;
  align-items: center;
  margin-left: 1.4rem;
}
.contentImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.contentBox {
  margin-left: 1rem;
  font-size: 1.3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Suggested Following */
.followingContainer {
  border-bottom: 1px solid var(--gray-color);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
@media screen and (max-width:1000px) {
  .followingContainer {
    padding: 0 1.4rem 1rem 1.4rem;
  }
}
.followingTitle,.likedTitle,.likedTrends {
  font-size: 1.5rem;
  margin: 1rem 1.4rem;
}
.followingShowMore ,.likedShowMore, .trendsShowMore{
  margin: 1.4rem;
}
.SingleSuggestedFollowing {
  margin-left: 1.4rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.followButton {
  background: white;
  color: black;
  border-radius: 29px;
  padding: 10px 21px;
  font-weight: 700;
  font-size: 1rem;
}
.userContentBox {
  display: flex;

}
.sharedFollowing {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-left: 2.1rem;
    margin-bottom: 0.5rem;
}
.followingUser {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.bottom {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
}
.followingUserDetails {
  margin: 0rem 1.2rem;
}
h4,p {
  margin: 0;
}
.followingUserDescription {
  margin-top: 0.6rem;
  font-size: 1.2rem;
}
/* Right Part */
.searchBar {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  border-radius: 20px;
  background-color: #16181c;
  margin: 0.7rem 1.4rem;
}
.likedSection,.trendsSection {
    padding: 0.85rem 0;
    border-radius: 10px;
    background-color: #16181c;
    margin: 0 1.4rem 1rem 1.4rem;
}
.singleTrend {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 1rem 1.5rem 1.4rem;
}
.trendName {
  font-size: 1.3rem;
}
